{% extends "base.j2" %}

{% block title %}Not found{% endblock title %}

{% block main %}
<h1>Page not found</h1>
<p>The requested URL was not found on the server. If you entered the URL manually please check your spelling and try again.</p>
<a href="{{ url_for('shop.items') }}">Go to main page</a>
{% endblock main %}
