<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
   <title>{% block title %}Shop{% endblock title %}</title>
</head>
<body>
   <div class="danger">
      {% if current_user.is_super_user %}
      <a href="{{ url_for('admin.manage_items') }}">ADMIN</a>
      {% endif %}
      {% if current_user.is_authenticated %}
      <a href="{{ url_for('auth.logout') }}">LOGOUT</a>
      {% endif %}
   </div>
   {% block main %}{% endblock main %}
</body>
</html>
