* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

a {
   text-decoration: none;
}

ul {
   list-style: none;
}

.danger {
   background-color: indianred;
   display: inline-block;
}

.items {
   display: flex;
   flex-wrap: wrap;
   margin-top: 10px;
}

.item {
   width: 25%;
   position: relative;
   background-color: darkcyan;
   margin-bottom: 5px;
   transition: background-color 0.3s ease;
}

.item:hover {
   background-color: rgb(0, 102, 102);
}

.item__link {
   width: 100%;
   height: 100%;
   color: white;
   display: block;
   padding: 5px;
}

.item__image {
   width: 50%;
}

.item__button {
   position: absolute;
   top: 0;
   right: 0;
}
