{% extends "base.j2" %}

{% block title %}Confirmed Orders{% endblock title %}

{% block main %}
<a href="{{ url_for('admin.manage_items') }}">Back to admin</a>
{% if grouped_order_items %}
{% for key in grouped_order_items | reverse %}
<div>
   <p>{{ grouped_order_items[key].created_at | datetime_format }}</p>
   <p>User: {{ grouped_order_items[key].username }}</p>
   <ul>
   {% for item in grouped_order_items[key]["items"]  %}
      <li>
      {{ item.name }}
      {{ item.shop }}
      {{ item.type }}
      {{ item.quantity }}
      {{ item.fixed_price }}
      </li>
   {% endfor %}
   <hr />
   </ul>
</div>
{% endfor %}
{% else %}
<p>Empty</p>
{% endif %}
{% endblock main %}
