{% extends "base.j2" %}

{% block title %}Manage item{% endblock title %}

{% block main %}
<form action="" method="POST">
   {{ form.hidden_tag() }}
   {{ form.name.label }}
   {{ form.name(value=shop_item.name) }}
   {{ form.type.label }}
   {{ form.type(value=shop_item.type) }}
   {{ form.price.label }}
   {{ form.price(value=shop_item.price) }}
   {{ form.shop.label }}
   {{ form.shop(value=shop_item.shop) }}
   {{ form.submit }}
</form>
{% endblock main %}
