{% extends "base.j2" %}

{% block title %}Manage items{% endblock title %}

{% block main %}
<a href="{{ url_for('shop.items') }}">Back to shop</a>
<a href="{{ url_for('admin.pending_orders') }}">Pending orders</a>
<a href="{{ url_for('admin.confirmed_orders') }}">Confirmed orders</a>
<form action="" method="POST" enctype="multipart/form-data">
   {{ form.hidden_tag() }}
   {{ form.name.label }}
   {{ form.name }}
   {{ form.type.label }}
   {{ form.type }}
   {{ form.price.label }}
   {{ form.price }}
   {{ form.shop.label }}
   {{ form.shop }}
   {{ form.image }}
   {{ form.submit }}
</form>
{% for err in form.errors %}
<p>{{ err }}</p>
{% endfor %}
<ul class="items">
{% if shop_items %}
{% for item in shop_items %}
   <li class="item">
      <a class="item__link" href="{{ url_for('admin.manage_item', item_id = item.id) }}">
         {% if item.image_name %}
         <img class="item__image" src="{{ url_for('static', filename='img/uploads/items/' + item.image_name) }}" alt="Shop item">
         {% else %}
         NO IMAGE
         {% endif %}
         <p>Name: {{ item.name }}</p>
         <p>Type: {{ item.type }}</p>
         <p>Price: {{ item.price }}</p>
         <p>Shop: {{ item.shop }}</p>
      </a>
      <button class="item__button" onclick="remove({{ item.id }})">REMOVE</button>
   </li>
{% endfor %}
{% else %}
NO ITEMS YET
{% endif %}
</ul>
<script src="{{ url_for('static', filename='js/manage_items.js') }}"></script>
{% endblock main %}
