{% extends "base.j2" %}

{% block title %}Pending Orders{% endblock title %}

{% block main %}
<a href="{{ url_for('admin.manage_items') }}">Back to admin</a>
{% if grouped_order_items %}
{% for key in grouped_order_items | reverse %}
<div>
   <span>{{ grouped_order_items[key].created_at | datetime_format }}</span>
   <p>User: {{ grouped_order_items[key].username }}</p>
   <button onclick="order({{ key }}, 'confirm')">Confirm order</button>
   <button onclick="order({{ key }}, 'remove')">Cancel order</button>
   <ul>
   {% for item in grouped_order_items[key]["items"]  %}
      <li>
      {{ item.name }}
      {{ item.shop }}
      {{ item.type }}
      {{ item.quantity }}
      {{ item.fixed_price }}
      </li>
   {% endfor %}
   <hr />
   </ul>
</div>
{% endfor %}
{% else %}
<p>Empty</p>
{% endif %}
<script src="{{ url_for('static', filename='js/pending_orders.js') }}"></script>
{% endblock main %}
