{% extends "base.j2" %}

{% block title %}Cart{% endblock title %}

{% block main %}
<a href="{{ url_for('shop.items') }}">Back to shop</a>
{% if cart_items | length > 0 %}
<ul>
{% for item in cart_items  %}
   <li>
      <a href="{{ url_for('shop.item', item_id=item.shop_item) }}">{{ item.name }}</a>
      {{ item.type }}
      {{ item.shop }}
      <button class="btn-dec" id="btn-dec-{{ item.id }}"><</button>
      <input 
         type="text"
         id="input-{{ item.id }}" 
         class="number-input"
         value="{{ item.quantity }}" 
         style="color: black; background: none; width: 36px; padding: 5px;" 
         />
      <button class="btn-inc" id="btn-inc-{{ item.id }}">></button>
      {{ item.price * item.quantity }}
      <button onclick="remove({{ item.id }})">Remove</button>
   </li>
{% endfor %}
</ul>
<p>Total: {{ total }}</p>
<a href="{{ url_for('shop.checkout') }}">Checkout</a>
<script src="{{ url_for('static', filename='js/cart.js') }}"></script>
{% else %}
   <p>Cart is empty</p>
{% endif %}
{% endblock main %}
