{% extends "base.j2" %}

{% block title %}Orders{% endblock title %}

{% block main %}
<a href="{{ url_for('shop.items') }}">Back to shop</a>
<ul>
{% for item in cart_items  %}
   <li>
      {{ item.type }}
      {{ item.name }}
      {{ item.shop }}
      {{ item.quantity }}
      {{ item.price * item.quantity }}
   </li>
{% endfor %}
</ul>
<p>Total: {{ total }}</p>
<button onclick="confirm_order()">Confirm order</button>
<script src="{{ url_for('static', filename='js/checkout.js') }}"></script>
{% endblock main %}
