{% extends "base.j2" %}

{% block title %}Add to cart{% endblock title %}

{% block main %}
<a href="{{ url_for('shop.items') }}">Back to shop</a>
<br>
{{ shop_item.name }}
{{ shop_item.type }}
{{ shop_item.price }}
{{ shop_item.shop }}
{% if is_in_cart %}
<p>Already in <a href="{{ url_for('shop.cart') }}">cart</a></p>
{% else %}
<form action="" method="POST">
   {{ form.hidden_tag() }}
   {{ form.quantity.label }}
   {{ form.quantity(min=1) }}
   {{ form.submit }}
</form>
<p>{{ form.quantity.errors | first }}</p>
{% endif %}

{% endblock main %}
