{% extends "base.j2" %}

{% block title %}Shop{% endblock title %}

{% block main %}
<a href="{{ url_for('shop.cart') }}">Cart</a>
<a href="{{ url_for('shop.orders') }}">Orders</a>
{% if shop_items %}
<ul class="items">
{% for item in shop_items  %}
   <li class="item">
      <a class="item__link" href="{{ url_for('shop.item', item_id = item.id) }}">
         {% if item.image_name %}
         <img class="item__image" src="{{ url_for('static', filename='img/uploads/items/' + item.image_name) }}" alt="Shop item">
         {% else %}
         NO IMAGE
         {% endif %}
         <p>Name: {{ item.name }}</p>
         <p>Type: {{ item.type }}</p>
         <p>Price: {{ item.price }}</p>
         <p>Shop: {{ item.shop }}</p>
      </a>
   </li>
{% endfor %}
</ul>
{% else %}
<p>No items yet</p>
{% endif %}
{% endblock main %}
