{% extends "base.j2" %}

{% block title %}Orders{% endblock title %}

{% block main %}
<a href="{{ url_for('shop.items') }}">Back to shop</a>
{% if grouped_order_items %}
{% for key in grouped_order_items | reverse %}
<div>
   <span>{{ grouped_order_items[key].created_at | datetime_format }}</span>
   {% if grouped_order_items[key].order_status %}
      ORDER CONFIRMED
   {% else %}
      <button onclick="cancel_order({{ key }})">Cancel order</button>
   {% endif %}
   <ul>
   {% for item in grouped_order_items[key]["items"]  %}
      <li>
      {{ item.name }}
      {{ item.shop }}
      {{ item.type }}
      {{ item.quantity }}
      {{ item.fixed_price }}
      </li>
   {% endfor %}
   <hr />
   </ul>
</div>
{% endfor %}
<script src="{{ url_for('static', filename='js/orders.js') }}"></script>
{% else %}
<p>Empty</p>
{% endif %}
{% endblock main %}
