{% extends "base.j2" %}

{% block title %}Login{% endblock title %}

{% block main %}
<form action="" method="POST">
   {{ form.hidden_tag() }}
   <div>
      {{ form.username.label }}
      {{ form.username }}
   </div>
   <div>
      {{ form.password.label }}
      {{ form.password }}
   </div>
   <div>{{ form.remember_me() }} {{ form.remember_me.label }}</div>
   <div>{{ form.submit }}</div>
   <p>{{ form.errors['username'] | first }}</p>
</form>
<a href="{{ url_for('auth.register') }}">Go to register</a>
{% endblock main %}
