{% extends "base.j2" %}

{% block title %}Register{% endblock title %}

{% block main %}
<form action="" method="POST">
   {{ form.hidden_tag() }}
   <div>
      {{ form.username.label }}
      {{ form.username }}
      {{ form.username.errors | first }}
   </div>
   <div>
      {{ form.password.label }}
      {{ form.password }}
      {{ form.password.errors | first }}
   </div>
   <div>
      {{ form.password_confirm.label }}
      {{ form.password_confirm }}
      {{ form.password_confirm.errors | first }}
   </div>
   <div>{{ form.submit }}</div>
</form>
<a href="{{ url_for('auth.login') }}">Go to login</a>
{% endblock main %}
